.about {
   margin: auto;
   text-align: center;
   width: 70%;
}

.about img{
    width: 220px
}

.row .col .svg-inline--fa {
    color: rgb(0, 191, 255) !important;
    font-size: 35px;
}

@media only screen and (max-width: 900px) {
    .about img{
        width: 140px
    }
    .about{
        width: 100%;
    }
} 