.about {
   margin: auto;
   text-align: center;
   width: 65%;
   margin-top: 4vw;
   margin-bottom: 4vw;

}

.about img{
    width: 200px
}

.content-div h3{
    margin-top: 2vw;
}

.content-div p{
    margin-top: 1.5vw;
}

.row .col .svg-inline--fa {
    color: rgb(0, 191, 255) !important;
    font-size: 2rem;
}

/* @media only screen and (max-width: 600px) {
    .about{
        width: 90%;
        margin-top: 7vw;
        margin-bottom: 7vw;
    }
    .about img{
        width: 140px
    }
    .content-div h3{
        margin-top: 4vw;
    }
    .content-div p{
        margin-top: 4vw;
        margin-bottom: 7vw;
    }
    .row .col .svg-inline--fa {
        font-size: 1.5rem;
    }
}  */

/* Mobile Portrait */

@media only screen
and (min-width: 355px)
and (max-width: 415px)
and (min-height: 665px)
and (max-height: 920px)
and (orientation: portrait)
{
    .about{
        width: 85%;
        margin-top: 7vw;
        margin-bottom: 7vw;
    }

    .about img{
        width: 125px
    }

    .content-div h3{
        margin-top: 3vw;
    }

    .content-div p {
        margin-top: 4vw;
        margin-bottom: 7vw;
    }

    .row .col .svg-inline--fa {
        font-size: 1.5rem;
    }
}

/* Mobile Landscape */

@media only screen 
and (max-width: 920px) 
and (max-height: 420px) 
and (orientation: landscape){
    .about img{
        width: 175px
    }
    .content-div p {
        margin-top: 2.5vw;
        margin-bottom: 4vw;
    }
}

/* Ipad portrait */

@media only screen 
and (max-width: 820px) 
and (min-width: 765px)
and (max-height: 1180px) 
and (orientation: portrait){
    
    .about{
        width: 80%;
        margin-top: 7.5vw;
        margin-bottom: 7.5vw;
    }
    .about img{
        width: 150px
    }
    .content-div p {
        margin-top: 2.5vw;
        margin-bottom: 4vw;
    }
}