 
.carousel-item{
    overflow: hidden;
    height: 100%;
}

.carousel-item img {
    filter: brightness(50%);
}

.container .row h1 {
    font-size: 7vw;
    line-height: 1;
    font-weight: bold;
}

.container .row h4 {
    font-size: 2vw;
    font-weight: bold;
}

.carousel-indicators {
    visibility: hidden;
}

.btn:hover{
    background-color:  rgb(0, 191, 255);
    color: white;
}