.carousel-item{
    height: 100%;
    overflow: hidden;
}

.carousel-item img {
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    filter: brightness(50%);
}

.carousel-caption {
    left: 50%;
    top: 50%;
    height: fit-content;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 85%;
}

.carousel-caption h1 {
    display: block;
    font-weight: bold;
    line-height: 1;
    font-size: 5.5vw;

}

.carousel-caption h4 {
    font-size: 2vw;
    margin-top: 2vw;
}

.carousel-caption .myH4 {
    font-size: 2vw;
    margin-top: 8.5vw;
}

.carousel-caption h5 {
    font-size: 1.6vw;
    margin-top: 2vw;
}

.carousel-indicators {
    visibility: hidden;
}

.carousel-caption .btn {
    margin-top: 2vw;
}

.btn:hover{
    background-color:  rgb(0, 191, 255);
    color: white;
}