/* Desktop */

.carousel div{
    color: white;
    background-position: center center;
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
}

.slide-one{
    height: 100vh;
    background-image: url(../images/carousel/van.png);
}

.slide-two{
    height: 100vh;
    background-image: url(../images/carousel/cc.jpg);
}

.slide-three{
    height: 100vh;
    background-image: url(../images/carousel/gc2.jpeg);   
}

.carousel-container{
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 95%;
}

.carousel-container h1 {
    padding-top: 3vw;
    font-size: 8vw;
    font-weight: bold;
    line-height: 7vw;
}

.carousel-container h4 {
    font-size: 2vw;
    font-weight: bold;
}

.button-div{
    padding-top: 4vw;
}

.carousel-indicators {
    display: none;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    display: none;
}

/* Mobile */

@media only screen and (max-width: 500px) {

    .carousel-container{
        text-align: center;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50% , -50%);
        width: 95%;    }

    .carousel-container h1{
        font-size: 17vw;
        font-weight: bold;
        line-height: 17vw;
    }
    
    .carousel-container h4{
        padding: 3vw;
        font-weight: bold;
        font-size: 6vw;
        line-height: 9vw;
    }

    .button-div{
        padding: 8vw; 
    }
    
    .carousel-indicators {
        visibility: hidden;
    }
    
    .carousel-control-prev-icon, .carousel-control-next-icon{
        visibility: hidden;
    }

    .slide-one, .slide-two, .slide-three{
        height: 90vh;
    }
}
