#target{
    padding-top: 2vw;
}

@media only screen and (max-width: 500px) {
    .form-container{
        width:90%;
        margin-top: 10vw;
        margin-bottom: 10vw;
    }
    .alert-div .alert-heading {
        font-size: 3.5vw;
        margin-left: 2vw;
        padding-top: 2vw;
    }
    
    .alert .p{
        font-size: 3vw;
    }
} 

