.form-container{
    display:block;
    width:65%;
    margin:0 auto;
    margin-top: 9vw;
    margin-bottom: 6vw;
}

.form-check-input:checked {
    background-color: rgb(128,128,128);
    border-color: rgb(128,128,128);
}

.inner-form-container{
    padding-top: 2.5vw;
}

.alert-container{
    padding-top: 2.5vw;
}

.alert-container .h3{
    font-size: 2.5vw;
}

.alert-div {
    width: 50%;
}

.alert-div .svg-inline--fa {
    height: 1.6em; 
    padding-top: 1.2vw;
}

.alert-div .alert-heading {
    font-size: 2vw;
    margin-left: 1vw;
    padding-top: 1vw;
}

.p{
    font-size: 1.4vw;
}

