.container{
    margin-top: 10px;
    margin-bottom: 5px;
}

.navbar {
    background-color: transparent;
    height: 125px;
    transition: height 1s ease, background-color 1s ease;
    box-sizing: content-box;
    padding-top: 3vw;
}

.nav-link { 
    color: white !important;
    padding-right: 16px !important;
}

.navbar.active {
    height: 100px;
    background-color: white !important;
    border-bottom: 0.1px solid #d3d3d3;
    transition: height 1s ease, 
                border-bottom 1s,
                background-color 1s ease;
    box-sizing: content-box;
}

.navbar.active a {
    color: black !important;
}

.navbar-toggler {
    color: rgb(0, 191, 255) !important;
}

.dropdown-item:active{
    background-color: rgb(0, 191, 255) !important;
}

.navbar-toggler {
    color: rgb(0, 191, 255) !important;
}

.navbar-collapse{
    text-align: center;
    background-color: white;
    width: 100%;
}