
.portfolio-container {
    background-color: rgb(246, 246, 246);
    text-align: center;
    padding-bottom: 5vw;
    width: 100%;
}

.portfolio-header {
    padding-top: 10vw;
    text-align: center;
}

.portfolio-header > h6{
    padding-top: 2vw;
    font-weight: normal;
}

.inner-container{
    width: 100%;
}

/* @media only screen and (max-width: 900px) {
    .inner-container{
        width: auto;
    }
} */

.portfolio-button{
    margin-top: 2vw;
    margin-bottom: 3vw;
}

.images img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.images figure:hover img {
	opacity: .5;
}


