
/* Mobile */

@media only screen and (max-width: 600px) {

    .bg-image{
        height: 85vh;    
    }
    
    .content-container {
        width: 70%;
    }

    .content-container h1{
        margin-top: 1vw;
        line-height: 8vw;
    }

    .content-container button{
        margin-top: 3vw;
    }
    
    .content-container .svg-inline--fa {
        font-size: 55px;
        color: white;
    }
}
