.bg-image{
    background-image: url(../images/carousel/wc1.jpg);
    height: 75vh;
}

.image-content{
    width: 70%;
    text-align: center;
    color: white;
}

.image-content h1{
    margin-top: 2vw;
}

.image-content button{
    margin-top: 2vw;
}

.image-content .svg-inline--fa {
    font-size: 65px;
}
