.quote-container{
    background-image : url(../images/carousel/wc1.jpg);
    width: 100%;
    height: 38vw;
    background-repeat: no-repeat;
    width: cover;
    position: relative;
}

.quote-container-child{
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
    color: white;
}

.quote-container-child .svg-inline--fa {
    width: 8%;
    height: 8%;
}

.quote-container-child button{
    margin-top: 1vw;
}
