.services-content-container{
    margin: auto;
    width: 65%;
    text-align: center;
}

.services-content-container h1{
    margin-top: 6vw;
    margin-bottom: 3vw;
}

.services-p{
    margin-top: 1.5vw;
    margin-bottom: 2vw;

}

.services-content-div{
    text-align: justify;
    margin-top: 4vw;
}

.free-quote{
    background-color: rgb(0, 191, 255) !important;
    margin-top: 3vw;
    margin-bottom: 5vw;
}