/* Mobile Portrait*/

@media only screen 
and (max-width: 420px) 
and (max-height: 920px)
and (orientation: portrait){

    .wc-quote-p {
        margin-top: 5vw;
    }

    .wc-quotee {
        margin-top: 5vw;
        margin-bottom: 8vw;
    }
}

@media only screen 
and (min-width: 667px)
and (max-width: 920px)
and (max-height: 414px) 
and (orientation: landscape) {

    .wc-quotee{
        margin-bottom: 4vw;
    }

    .col-md-7 {
        width: 100%;
    }
}

@media only screen 
    and (min-width: 768px)
    and (max-width: 820px)
    and (max-height: 1180px)
    and (orientation: portrait)
    {
        .col-md-7 {
            width: 100%;
        }
        .wc-quote-p {
            margin-top: 2vw;
        }
    
        .wc-quotee {
            margin-top: 2vw;
            margin-bottom: 4vw;
        }
    }

@media (min-width: 580px) and (max-width: 990px){
    .col-md-7 {
        width: 100%;
    }

    .wc-quotee {
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
}

